.container {
    width: 30rem;
    background-color: #eee;
    padding: 3rem;
    margin: 2rem auto;
    border: 3px solid black;
}

input {
    position: relative; 
    left: 23%; 
    margin-left: -200px}

.form {
    display: inline-block;
}

header {
    text-align: center;
    padding: .25em;
    margin-bottom: 1.75em;
}

label {
    display: block
}

.contactForm {
    display: inline-block;
}

form label {
    display: block;
}

.contactInfo {
    list-style: none;
}

.contactDisplay {
    display: none;
}